global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: kafka_exporter
    static_configs:
      - targets:
          - kafka_exporter:9308

  - job_name: redis_exporter
    static_configs:
      - targets:
          - redis_exporter:9121
